$primaryColor: #FF0000;
$darkPrimaryColor: #B31212;
$subColor: #1485CC;
$darkSubColor: #0971B3;

$menuColor: #0971B3;



$fontFamily: 'Roboto', sans-serif;
$regularWeight: 400;
$heavyWeight: 700;

$gutter: 2%;